html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-width: 320px;
}

#root {
  min-height: 100vh;
}

::selection {
  background: rgba(43, 195, 118, 0.24);
  color: inherit;
}
